.button
{
-fx-background-color : #0598FF;
-fx-font-size: 25px;
}
.button:hover
{
-fx-background-color : #5ec9ff;
-fx-font-size: 25px;
}
.button:pressed
{
-fx-background-color : #5ec9ff;
-fx-border-color: white;
-fx-border-width: 0px 10px 0px 0px;
-fx-font-size: 25px;
}
.button: focused {
-fx-background-color: #00CCFF;
-fx-border-color: #f7f7f7;
-fx-border-width: 0px 10px 0px 0px;
-fx-font-size: 25px;
}
.text-field
{
-fx-border-color : #0598FF;
-fx-border-width: 2px;
}

/*COMBOBOX*/
.combo-box
{
     -fx-border-color: #6F5CC2;
     -fx-border-width: 2;
     -fx-background-radius: 0;
     -fx-background-color: #F3F3F3;
     -fx-font-family: "Arial";
     -fx-font-size: 12px;
     -fx-text-fill: #ffffff;
     -fx-background-insets: 0;
     -fx-alignment: center;
     -fx-content-display: center;
 }
 .title{
     -fx-background-color: #0598FF;
 }


 .combo-box > .cell {
     -fx-text-fill: #ffffff;
     -fx-alignment: center;
 }

 .combo-box:hover {
      -fx-border-color: #6F5CC2;
      -fx-border-width: 2;
     -fx-background-color: #F3F3F3;
 }

 .combo-box-popup .list-view .list-cell {
      -fx-border-color: #6F5CC2;
      -fx-border-width: 2;
     -fx-background-color: #2f4f4f;
     -fx-text-fill: #ffffff;
     -fx-text-alignment: center;
 }

 .combo-box-popup .list-view .list-cell:filled:selected,
 .combo-box-popup .list-view .list-cell:filled:selected:hover {
      -fx-border-color: #6F5CC2;
      -fx-border-width: 2;
     -fx-background: #2f4f4f;
     -fx-background-color: #F3F3F3;
     -fx-text-fill: #ffffff;
     -fx-text-alignment: center;
 }

 .combo-box-popup .list-view .list-cell:filled:hover {
      -fx-border-color: #6F5CC2;
      -fx-border-width: 2;
     -fx-background-color: #F3F3F3;
     -fx-text-alignment: center;
     -fx-background-radius: 10.0;
 }
 .combo-box-popup .list-view {
      -fx-border-color: #6F5CC2;
      -fx-border-width: 2;
     -fx-background-color: #F3F3F3;
 }
/*COMBOBOX*/
.table-view .column-header,
.table-view .column-header-background .filler {
}
.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
}